body {
    font-family: 'Bebas Neue', sans-serif;
    margin: 20px;
    background-image: url('ruvim-noga-pazM9TQJ2Ck-unsplash.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.89;
}

header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
}

main {
    margin: 2rem auto;
    width: 99%;
    max-width: 800px;
    background-color: #ffffff1c;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    transition: background-color 0.8s ease-in-out;
}

th {
    background-color: #f2f2f2;
}

th:hover, td:hover {
    background-color: #cccafc;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 20px;
    padding: 2px;
    font-size: 16px;
    border: 1px solid #d6fd98bc;
    border-radius: 8px;
}

input[type="number"] {
    width: 15%;
    padding: 2.5px;
    background-color: #c4ccd382;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #004cff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.9s ease;
}

button:hover {
    background-color: #0056b3;
}

.container {
    background-color: #ffffff00;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    max-width: 600px;
    margin: auto;
}

div {
    text-align: center;
}

p {
    margin: 15px 0;
}

/* Responsiveness */
@media (max-width: 760px) {
    table, th, td {
        display: block;
        width: 100%;
    }
    th {
        display: none;
    }
    td {
        text-align: right;
        position: relative;
        padding-left: 50%;
    }
    td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 0.5rem;
        text-align: left;
        font-weight: bold;
    }
}
